@import 'tailwindcss';

.login-form input{
  /* border: 1px solid black; */
  height: 48px;
  width: 400px;
  border-radius: 5px;
  margin-bottom: 24px;
  padding-left: 10px;
  background-color: #FFFFFF;
}

.main-login{
  max-width: 448px;
  background-color: #F9FAFB;
  height: 578.99px;
  border-radius: 0px 25px 0px 25px;
  /* box-shadow: ; */
}

.full-login{
  height: 100vh;
}

.card{
  padding: 0 24px;
}


.page-container{
  height: 443.67px;
} 